:root { /*Main colors for the site*/
    --primary-color: #1E1D1B;
    --background: #EAEAEA;
    --details: #C19977;
    --heading-text: #FFFFFF;
    --secondary-text: #CCCABC;
}

body {
    background-color: var(--primary-color);
    color: white;
    font-family: "Libre Baskerville", serif;
    font-style: italic;
}

.image-container {
    height: 500px;

}

.drinks {
    height: 700px;
}

hr {
    background-color: var(--details);
    height: 2px;
    margin-top: 0;
}

.story {
    color: var(--details);
    margin: 1%;
}

.rowcontent {
    margin-top: 2%;
    height: 380px;
}

.rowcontent1 {
    margin-top: 2%;
    height: 380px;
}

.rowcontent3 {
    margin-top: 2%;
    height: 380px;
}

.imagecontent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.goldline {
    width: 90%;
}

.rowcontent2 {
    margin-left: 3%;
}

.description {
    font-size: 18px;
    text-align: justify;
    width: 90%;
}

.container-fluid {
    background-color: var(--primary-color);
    width: 97%;
}

.navbar {
    width: auto;
    margin: auto;
    font-size: 30px;
    padding-bottom: 0;
}

#logodiv {
    display: block;
    margin: auto;
}

.center {
    display: block;
    margin: auto;
}

.nav-item {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-right: 30px;
}

#title {
    text-align: center;
    font-family: "Jacques Francois", serif;
    font-style: normal;
    margin-top: 20px;
    padding-left: 55px;
    padding-bottom: 0;
    letter-spacing: 6px;
}

.bg-body-tertiary {
    background-color: var(--primary-color) !important;
}

.nav-link {
    color: var(--heading-text);
    padding: 0;
    text-align: center;
}

.nav-link:hover {
    color: var(--details);
    text-decoration: underline;
}

.nav-link:focus {
    color: var(--secondary-text);
}

.header-title {
    font-size: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.heading {
    font-size: 60px;
}

#footer {
    text-align: center;
}

.footer-heading {
    font-size: 30px;
}

#footer-center {
    font-size: 50px;
    line-height: 100px;
    text-align: center;

}

.socials-logo {
    width: 35px;
    height: auto;
    margin: 5px;
}

.socials {
    margin: auto;
}

#underline {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.navbar-toggler-icon {
    background-image: url("images/headerFooter/menu.png");
}

.navbar-toggler {
    margin: auto;
}

#footer-underline {
    transform: rotate(180deg);
    width: 100%;
    margin-top: 30px;
}

#header-logo {
    width: 90%;
    opacity: 0.90;
}

.career-description {
    font-size: 18px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.detail-text {
    color: var(--details);
    font-weight: bold;
}

.center-align {
    text-align: center;
}

.career-link {
    color: var(--heading-text);
    text-decoration: none;
}

.career-link:hover {
    color: var(--details);
    text-decoration: underline;
}

.career-link:focus {
    color: var(--secondary-text);
}

ul.list {
    list-style-type: none;
}

.list-row {
    padding: 20px;
}

.contact-separator {
    width: 50%;
}

.our-menu {
    margin: 0 auto;
    text-align: justify;
    padding-top: 75px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 85px;
    font-size: large;
}

.extra-info {
    font-weight: normal;
    font-size: 12px;
}

.menu-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.center {
    width: 90%;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu-item {
    width: 40%;
    margin-bottom: 20px;
}

.menu-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.menu-ingredients {
    font-size: 14px;
    color: var(--secondary-text);
    margin-bottom: 10px;
}

.menu-price {
    font-size: 16px;
    font-weight: bold;
    color: var(--details);
}

#detail-color-text {
    color: var(--details)
}

.btn {
    background-color: var(--details);
    border-color: var(--details);
}

.current-tab {
    color: var(--details);
    text-decoration: underline;
}