@media (max-width: 480px){ /*Smartphone*/
    .container-fluid {
        width: 100%;
    }

    h1 {
        font-size: 50px;
    }

    #title {
        padding-left: 0;
        margin: auto;
        letter-spacing: 3px;
    }

    #underline{
        width: 90%;
    }

    #footer-center {
        margin-top: 10px;
        font-size: 40px;
        line-height: 0;

    }

    #footer-helper {
        margin-top: 0;
    }

    #footer-underline {
        margin-top: 20px;
    }

    #header-logo {
        width: 45%;
    }

    body {
        background-color: var(--primary-color);
    }
    .career-link {
        color:var(--heading-text);
    
        text-decoration: none;
    }
    
    .career-link:hover {
        color: var(--details);
        text-decoration: underline;
    }
    
    .career-link:focus {
        color:var(--secondary-text);
    }
}

@media (min-width: 481px) and (max-width: 767px) { /*Low-resolution Tablets and Ipads*/

}


@media (min-width: 768px) and (max-width: 1024px) { /*Tablets Ipads portrait mode*/

}


@media (min-width: 1281px) {

}
